{% extends "page_template.html" %}
{% set title = game.title + " by " + game.developer %}
{% set description = "Play " + game.title + " by " + game.developer + " — a classic Game Maker project preserved from the YoYo Games Sandbox." %}
{% block content %}
<div class="columns">
    <div class="column is-two-thirds" >
        <div class="level mb-0" >
            <div class="level-left" >
                <div class="level-item">
                    <h2 class="title is-3">{{ game.title }}</h2>
                </div>
                <div class="level-item">
                    <p class="subtitle is-5">by <a href="/developer/{{ game.developer }}">{{ game.developer }}</a></p>
                </div>
            </div>
        </div>
        {{ game.description | safe }}
        {% if game.tags | length > 0 %}
        <p><b>Tags:</b> {{ game.tags }}</p>
        {% endif %}
        {% if game.dl_url is not none %}
        <a href="{{ game.dl_url }}" class="button is-primary mt-4">Download</a>
        {% endif %}
    </div>
    <div class="column" >
        <table class="table">
            <tr>
                <td>Released</td>
                <td>{{ game.date }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ game.category }}</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{ game.rating }} (by {{ game.nratings }} users)</td>
            </tr>
            <tr>
                <td>Downloads</td>
                <td>{{ game.downloads }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ game.version }}</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <td>Slug</td>
                <td>{{ game.slug }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
