{% extends "base.html" %}
{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered" style="font-size:4rem"><a href="/"><span style="color: #629332;">YoYo Games</span> <span style="color: #7bb83f;">Archive</span></a></h1>
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <form id="search-form" class="container">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" type="text" name="query" placeholder="Search for games"/>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" formaction="/search" method="GET" class="button is-light">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</section>
{% endblock %}
