{% extends "base.html" %}
{% block body %}
<div id="wrapper" >
    <section class="section">
        <div class="container" >
        <nav class="level" >
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-1 mb-0" ><a href="/"><span style="color: #629332;">YoYo Games</span> <span style="color: #7bb83f;">Archive</span></a></h1>
                </div>
            </div>
            <div class="level-right" >
                <div class="level-item">
                    <style>
                     .tooltip {
                         position: relative;
                         display: inline-block;
                     }

                     .tooltip-text {
                         opacity: 0;
                         transition: opacity 0.5s;
                         visibility: hidden;

                         width: 50em;
                         top: 100%;
                         left: 50%;
                         margin-top: 0.5em;
                         margin-left: -25em;

                         position: absolute;
                         z-index: 1;
                     }

                     .tooltip:hover .tooltip-text {
                         visibility: visible;
                         opacity: 1;
                     }
                    </style>
                    <div class="is-size-7 tooltip" >
                        <u style="border-bottom: .125em dotted; text-decoration: none;">?</u>
                        <div class="message is-dark is-small tooltip-text" >
                            <div class="message-body">
                                Games can be searched for by name, and metadata such as descriptions and tags will also be matched against search queries. For example, if you want to find games made by  a specific user you can just search that user!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <form id="search-form" class="container">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" name="query" placeholder="Search for games" />
                            </div>
                            <div class="control">
                                <button type="submit" formaction="/search" method="GET" class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <hr />
        {% block content %}{% endblock %}
    </section>
</div>
{% include "footer.html" %}
{% endblock %}